
@{
    ViewBag.Title = "AdminMainPage";
}

<h2>欢迎您，管理员！</h2>
<br />
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#student" data-toggle="tab">
            管理学生
        </a>
    </li>
    <li>
        <a href="#teacher" data-toggle="tab">
            管理教师
        </a>
    </li>
    <li>
        <a href="#course" data-toggle="tab">
            管理课程
        </a>
    </li>
    <li>
        <a href="#miscellaneous" data-toggle="tab">
            管理其他
        </a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <!--管理学生-->
    <div class="tab-pane fade in active" id="student">
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    所有学生列表
                    <small></small>
                </h3>
            </div>
        </div>
    </div>
    <!--管理教师-->
    <div class="tab-pane fade" id="teacher">
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    教师列表
                    <small></small>
                </h3>
            </div>
        </div>
    </div>
    <!--管理课程-->
    <div class="tab-pane fade" id="course">
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    课程列表
                    <small></small>
                </h3>
            </div>
        </div>
    </div>
    <!--管理杂项-->
    <div class="tab-pane fade" id="miscellaneous">
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    管理教学楼
                    <small></small>
                </h3>
            </div>
        </div>
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    管理教室
                    <small></small>
                </h3>
            </div>
        </div>
    </div>
</div>
