
@{
    ViewBag.Title = "Login";
}
@* 此登录页面默认学生和教师的注册邮箱和密码均不同，所以没有设定区分学生登录和教师登录的checkbox *@
<h2>登录</h2>
<br />
<form role="form" action="LoginTypeCheck" method="post" onsubmit="return checkExist();">
    <div class="form-group">
        <label class="control-label" for="inputEmail">电子邮箱</label>
        <div class="form-inline">
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="注册时填写的邮箱"><span id="span_email" style="margin-left:5px;color:red"></span>
        </div>
        <label class="control-label" for="inputPassword">密码</label>
        <div class="form-inline">
            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder=""><span id="span_pass" style="margin-left:5px;color:red"></span>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input id="remember" type="checkbox"> 下次自动登录
        </label>
    </div>
    <button type="submit" class="btn btn-default">登录</button>
</form>
<br />
<p class="alert-link">没有账号？点击<a href="Register"><strong>注册</strong></a></p>
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>

<script>
    //----------------Below are copied from online: https://www.cnblogs.com/lideqiang/p/5667576.html ----------------------//
    /*
        *功能： JS跳转页面，并已POST方式提交数据
        *参数： URL 跳转地址 PARAMTERS 参数
        *返回值：
        *创建时间：20160713
        *创建人：
        */
    function ShowReport_Click(uid, email, pwd) {

        var parames = new Array();
        parames.push({ name: "Uid", value: uid });
        parames.push({ name: "inputEmail", value: email });
        parames.push({ name: "inputPassword", value: pwd });

        Post("LoginTypeCheck", parames);
        return false;
    }

    /*
    *功能： 模拟form表单的提交
    *参数： URL 跳转地址 PARAMTERS 参数
    *返回值：
    *创建时间：20160713
    *创建人：
    */
    function Post(URL, PARAMTERS) {
        //创建form表单
        var temp_form = document.createElement("form");
        temp_form.action = URL;
        //如需打开新窗口，form的target属性要设置为'_blank'
        temp_form.target = "_self";
        temp_form.method = "post";
        temp_form.style.display = "none";
        //添加参数
        for (var item in PARAMTERS) {
            var opt = document.createElement("textarea");
            opt.name = PARAMTERS[item].name;
            opt.value = PARAMTERS[item].value;
            temp_form.appendChild(opt);
        }
        document.body.appendChild(temp_form);
        //提交数据
        temp_form.submit();
    }
    //----------------Above are copied from online: https://www.cnblogs.com/lideqiang/p/5667576.html ----------------------//
</script>
<script>
    //Load all dependencies
    window.onload = function LoadPass() {
        //Get the Faculty Dictionary
        $.ajax({
            type: "GET",
            url: "LoadDenpendencies",
            async: false,               //同步: Google"如何获取Ajax的返回值,了解只有同步机制下可以获取返回值，否则获取到的就是undefined"
            success: function (response) {
                sessionStorage.Faculty = response.toString().split('&&')[0];
                sessionStorage.TeacherName = response.toString().split('&&')[1];
            },
            error: function (response) {
                console.log(response);
            }
        });

        //自动登录
        if (localStorage.storageid != null && localStorage.storagepass != null) {
            ShowReport_Click(localStorage.storageid, localStorage.storageemail, localStorage.storagepass);
        }
    }
    function checkExist() {
        //var formData = new FormData();
        //formData.append("inputEmail", document.getElementById("inputEmail"));
        //formData.append("inputPassword", document.getElementById("inputPassword"));
        var flag = true;
        $.ajax({
            type: "GET",
            url: "CheckExist",
            data: "email=" + document.getElementById("inputEmail").value + "&passwd=" + document.getElementById("inputPassword").value + "",
            contentType: false,
            processData: false,
            async: false,               //同步: Google"如何获取Ajax的返回值,了解只有同步机制下可以获取返回值，否则获取到的就是undefined"
            success: function (response) {
                if (response == "N") {
                    document.getElementById("span_email").innerText = "用户名或密码错误！";
                    flag = false;
                }
                else {
                    if (document.getElementById("remember").checked == true) {
                        var storageemail = document.getElementById("inputEmail").value, storagepass = document.getElementById("inputPassword").value;
                        localStorage.storageemail = storageemail;
                        localStorage.storagepass = storagepass;
                        localStorage.storageid = response;
                    }
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
        return flag;
    }
</script>