
@{
    ViewBag.Title = "Register";
}

<h2>注册</h2>
<br />
<form id="registryForm" role="form" action="AddStudent" method="post">
    <div class="form-group">
        <label class="control-label" for="inputEmail">电子邮箱</label>
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="输入您的邮件地址">

        <label class="control-label" for="inputPassword">密码</label>
        <input type="text" class="form-control" id="inputPassword" name="inputPassword" placeholder="密码必须超过六个字符" onfocus="this.type='password'">
    </div>
    <div class="checkbox">
        <label>
            <input id="checkType" type="checkbox" checked="checked">学生/教师<small>（学生则勾选，教师勿勾选）</small>
        </label>
    </div>
    <button type="submit" class="btn btn-default" onclick="JudgeRegistryType()">注册</button>
</form>
<br />
<lable class="alert-link">已有账号？点击<a href="Login"><strong>登录</strong></a></lable>

<script>
    //Clear all the inputs  DOESN'T WORK
    //onload = function clearInput() {
    //    var inputs = document.getElementsByClassName('form-group')[0].getElementsByTagName("input");
    //    inputs[0].value = ""; inputs[1].value = "";
    //    document.getElementById('checkType').checked = false;
    //}

    function JudgeRegistryType() {
        var checkbox = document.getElementById("checkType");
        var form = document.getElementById("registryForm");

        if (checkbox.checked == false) {
            form.setAttribute("action", "AddTeacher");
        }
    }
</script>