<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Page Not Found</title>
</head>
<body>
    <hgroup>
        <h1>Soooooooooooooooory.</h1>
        <h2>Your Intention is very suspicious, however the page is not found...  ^_^</h2>
    </hgroup>
</body>
</html>