
@{
    System.Data.DataTable c = Model.Tables["courseInfo"];
    System.Data.DataTable t = Model.Tables["teacherInfo"];

    System.Data.DataRow crow = c.Rows[0];
    System.Data.DataRow trow = t.Rows[0];

    ViewBag.Title = crow[1] + "-学生选课管理信息系统";
    ViewBag.Title = "MyCourse";
}
<head>
    <style type="text/css">
        body, div, h2, h3, ul, li, p {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        ul {
            list-style-type: none;
        }

        body {
        }

        #msgBox {
            width: 100%;
            background: #fff;
            border-radius: 5px;
            margin: 10px auto;
            padding-top: 10px;
        }

            #msgBox form h2 {
                font-weight: 400;
                font: 400 18px/1.5 \5fae\8f6f\96c5\9ed1;
            }

            #msgBox form {
                background: url(img/boxBG.jpg) repeat-x 0 bottom;
                padding: 0 20px 15px;
            }

        #userName, #conBox {
            color: #777;
            border: 1px solid #d0d0d0;
            border-radius: 6px;
            background: #fff url(img/inputBG.png) repeat-x;
            padding: 3px 5px;
            font: 14px/1.5 arial;
        }

            #userName.active, #conBox.active {
                border: 1px solid #7abb2c;
            }

        #userName {
        }

        #conBox {
            width: 100%;
            resize: none;
            height: 65px;
            overflow: auto;
            margin-top: 10px;
        }

        #msgBox form div {
            position: relative;
            color: #999;
            margin-top: 10px;
        }

        #msgBox img {
            border-radius: 3px;
        }

        #face {
            position: absolute;
            top: 0;
            left: 172px;
            margin-left: 5%;
        }

            #face img {
                width: 30px;
                height: 30px;
                cursor: pointer;
                margin-right: 6px;
                opacity: 0.5;
                filter: alpha(opacity=50);
            }

                #face img.hover, #face img.current {
                    width: 28px;
                    height: 28px;
                    border: 1px solid #f60;
                    opacity: 1;
                    filter: alpha(opacity=100);
                }

        #sendBtn {
            border: 0;
            width: 112px;
            height: 30px;
            cursor: pointer;
            margin-left: 10px;
            background: url(img/btn.png) no-repeat;
        }

            #sendBtn.hover {
                background-position: 0 -30px;
            }

        #msgBox form .maxNum {
            font: 26px/30px Georgia, Tahoma, Arial;
            padding: 0 5px;
        }

        #msgBox .list {
            padding: 10px;
        }

            #msgBox .list h3 {
                position: relative;
                height: 33px;
                font-size: 14px;
                font-weight: 400;
                background: #e3eaec;
                border: 1px solid #dee4e7;
            }

                #msgBox .list h3 span {
                    position: absolute;
                    left: 6px;
                    top: 6px;
                    background: #fff;
                    line-height: 28px;
                    display: inline-block;
                    padding: 0 15px;
                }

            #msgBox .list ul {
                overflow: hidden;
                zoom: 1;
            }

                #msgBox .list ul li {
                    float: left;
                    clear: both;
                    width: 100%;
                    border-bottom: 1px dashed #d8d8d8;
                    padding: 10px 0;
                    background: #fff;
                    overflow: hidden;
                }

                    #msgBox .list ul li.hover {
                        background: #f5f5f5;
                    }

            #msgBox .list .userPic {
                float: left;
                width: 50px;
                height: 50px;
                display: inline;
                margin-left: 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

            #msgBox .list .content {
                float: left;
                width: auto;
                font-size: 14px;
                margin-left: 10px;
                font-family: arial;
                word-wrap: break-word;
            }

            #msgBox .list .userName {
                display: inline;
                padding-right: 5px;
            }

                #msgBox .list .userName a {
                    color: #2b4a78;
                }

            #msgBox .list .msgInfo {
                display: inline;
                word-wrap: break-word;
            }

            #msgBox .list .times {
                color: #889db6;
                font: 12px/18px arial;
                margin-top: 5px;
                overflow: hidden;
                zoom: 1;
            }

                #msgBox .list .times span {
                    float: left;
                }

                #msgBox .list .times a {
                    float: right;
                    color: #889db6;
                    display: none;
                }

        .tr {
            overflow: hidden;
            zoom: 1;
        }

            .tr p {
                float: right;
                line-height: 30px;
            }

            .tr * {
                float: left;
            }
    </style>
    <script type="text/javascript">
        /*-------------------------- +
          获取id, class, tagName
         +-------------------------- */
        var get = {
            byId: function (id) {
                return typeof id === "string" ? document.getElementById(id) : id
            },
            byClass: function (sClass, oParent) {
                var aClass = [];
                var reClass = new RegExp("(^| )" + sClass + "( |$)");
                var aElem = this.byTagName("*", oParent);
                for (var i = 0; i < aElem.length; i++) reClass.test(aElem[i].className) && aClass.push(aElem[i]);
                return aClass
            },
            byTagName: function (elem, obj) {
                return (obj || document).getElementsByTagName(elem)
            }
        };
        /*-------------------------- +
          事件绑定, 删除
         +-------------------------- */
        var EventUtil = {
            addHandler: function (oElement, sEvent, fnHandler) {
                oElement.addEventListener ? oElement.addEventListener(sEvent, fnHandler, false) : (oElement["_" + sEvent + fnHandler] = fnHandler, oElement[sEvent + fnHandler] = function () { oElement["_" + sEvent + fnHandler]() }, oElement.attachEvent("on" + sEvent, oElement[sEvent + fnHandler]))
            },
            removeHandler: function (oElement, sEvent, fnHandler) {
                oElement.removeEventListener ? oElement.removeEventListener(sEvent, fnHandler, false) : oElement.detachEvent("on" + sEvent, oElement[sEvent + fnHandler])
            },
            addLoadHandler: function (fnHandler) {
                this.addHandler(window, "load", fnHandler)
            }
        };
        /*-------------------------- +
          设置css样式
          读取css样式
         +-------------------------- */
        function css(obj, attr, value) {
            switch (arguments.length) {
                case 2:
                    if (typeof arguments[1] == "object") {
                        for (var i in attr) i == "opacity" ? (obj.style["filter"] = "alpha(opacity=" + attr[i] + ")", obj.style[i] = attr[i] / 100) : obj.style[i] = attr[i];
                    }
                    else {
                        return obj.currentStyle ? obj.currentStyle[attr] : getComputedStyle(obj, null)[attr]
                    }
                    break;
                case 3:
                    attr == "opacity" ? (obj.style["filter"] = "alpha(opacity=" + value + ")", obj.style[attr] = value / 100) : obj.style[attr] = value;
                    break;
            }
        };

        EventUtil.addLoadHandler(function () {
            var oMsgBox = get.byId("msgBox");
            var oUserName = get.byId("userName");
            var oConBox = get.byId("conBox");
            var oSendBtn = get.byId("sendBtn");
            var oMaxNum = get.byClass("maxNum")[0];
            var oCountTxt = get.byClass("countTxt")[0];
            var oList = get.byClass("list")[0];
            var oUl = get.byTagName("ul", oList)[0];
            var aLi = get.byTagName("li", oList);
            var aFtxt = get.byClass("f-text", oMsgBox);
            var aImg = get.byTagName("img", get.byId("face"));
            var bSend = false;
            var timer = null;
            var oTmp = "";
            var i = 0;
            var maxNum = 140;

            //禁止表单提交
            EventUtil.addHandler(get.byTagName("form", oMsgBox)[0], "submit", function () { return false });

            //为广播按钮绑定发送事件
            EventUtil.addHandler(oSendBtn, "click", fnSend);

            //为Ctrl+Enter快捷键绑定发送事件
            EventUtil.addHandler(document, "keyup", function (event) {
                var event = event || window.event;
                event.ctrlKey && event.keyCode == 13 && fnSend()
            });

            //发送广播函数
            function fnSend() {
                var reg = /^\s*$/g;
                if (reg.test(oUserName.value)) {
                    alert("\u8bf7\u586b\u5199\u60a8\u7684\u59d3\u540d");
                    oUserName.focus()
                }
                else if (!/^[u4e00-\u9fa5\w]{2,8}$/g.test(oUserName.value)) {
                    alert("\u59d3\u540d\u75312-8\u4f4d\u5b57\u6bcd\u3001\u6570\u5b57\u3001\u4e0b\u5212\u7ebf\u3001\u6c49\u5b57\u7ec4\u6210\uff01");
                    oUserName.focus()
                }
                else if (reg.test(oConBox.value)) {
                    alert("\u968f\u4fbf\u8bf4\u70b9\u4ec0\u4e48\u5427\uff01");
                    oConBox.focus()
                }
                else if (!bSend) {
                    alert("\u4f60\u8f93\u5165\u7684\u5185\u5bb9\u5df2\u8d85\u51fa\u9650\u5236\uff0c\u8bf7\u68c0\u67e5\uff01");
                    oConBox.focus()
                }
                else {
                    var oLi = document.createElement("li");
                    var oDate = new Date();
                    oLi.innerHTML = "<div class=\"userPic\"><img src=\"" + get.byClass("current", get.byId("face"))[0].src + "\"></div>\
                                                                                                 <div class=\"content\">\
                                                                                                    <div class=\"userName\"><a href=\"javascript:;\">" + oUserName.value + "</a>:</div>\
                                                                                                    <div class=\"msgInfo\">" + oConBox.value.replace(/<[^>]*>|&nbsp;/ig, "") + "</div>\
                                                                                                    <div class=\"times\"><span>" + format(oDate.getMonth() + 1) + "\u6708" + format(oDate.getDate()) + "\u65e5 " + format(oDate.getHours()) + ":" + format(oDate.getMinutes()) + "</span><a class=\"del\" href=\"javascript:;\">\u5220\u9664</a></div>\
                                                                                                 </div>";
                    //插入元素
                    aLi.length ? oUl.insertBefore(oLi, aLi[0]) : oUl.appendChild(oLi);

                    //重置表单
                    get.byTagName("form", oMsgBox)[0].reset();
                    for (i = 0; i < aImg.length; i++) aImg[i].className = "";
                    aImg[0].className = "current";

                    //将元素高度保存
                    var iHeight = oLi.clientHeight - parseFloat(css(oLi, "paddingTop")) - parseFloat(css(oLi, "paddingBottom"));
                    var alpah = count = 0;
                    css(oLi, { "opacity": "0", "height": "0" });
                    timer = setInterval(function () {
                        css(oLi, { "display": "block", "opacity": "100", "height": "auto" });
                        if (count > iHeight) {
                            clearInterval(timer);
                            css(oLi, "height", "auto");
                            timer = setInterval(function () {
                                css(oLi, "opacity", (alpah += 10));
                                alpah > 100 && (clearInterval(timer), css(oLi, "opacity", 100))
                            }, 30)
                        }
                    }, 30);
                    //调用鼠标划过/离开样式
                    liHover();
                    //调用删除函数
                    delLi()
                }
            };

            //事件绑定, 判断字符输入
            EventUtil.addHandler(oConBox, "keyup", confine);
            EventUtil.addHandler(oConBox, "focus", confine);
            EventUtil.addHandler(oConBox, "change", confine);

            //输入字符限制
            function confine() {
                var iLen = 0;
                for (i = 0; i < oConBox.value.length; i++) iLen += /[^\x00-\xff]/g.test(oConBox.value.charAt(i)) ? 1 : 0.5;
                oMaxNum.innerHTML = Math.abs(maxNum - Math.floor(iLen));
                maxNum - Math.floor(iLen) >= 0 ? (css(oMaxNum, "color", ""), oCountTxt.innerHTML = "\u8fd8\u80fd\u8f93\u5165", bSend = true) : (css(oMaxNum, "color", "#f60"), oCountTxt.innerHTML = "\u5df2\u8d85\u51fa", bSend = false)
            }
            //加载即调用
            confine();

            //广播按钮鼠标划过样式
            EventUtil.addHandler(oSendBtn, "mouseover", function () { this.className = "hover" });

            //广播按钮鼠标离开样式
            EventUtil.addHandler(oSendBtn, "mouseout", function () { this.className = "" });

            //li鼠标划过/离开处理函数
            function liHover() {
                for (i = 0; i < aLi.length; i++) {
                    //li鼠标划过样式
                    EventUtil.addHandler(aLi[i], "mouseover", function (event) {
                        this.className = "hover";
                        oTmp = get.byClass("times", this)[0];
                        var aA = get.byTagName("a", oTmp);
                        if (!aA.length) {
                            var oA = document.createElement("a");
                            oA.innerHTML = "删除";
                            oA.className = "del";
                            oA.href = "javascript:;";
                            oTmp.appendChild(oA)
                        }
                        else {
                            aA[0].style.display = "block";
                        }
                    });

                    //li鼠标离开样式
                    EventUtil.addHandler(aLi[i], "mouseout", function () {
                        this.className = "";
                        var oA = get.byTagName("a", get.byClass("times", this)[0])[0];
                        oA.style.display = "none"
                    })
                }
            }
            liHover();

            //删除功能
            function delLi() {
                var aA = get.byClass("del", oUl);

                for (i = 0; i < aA.length; i++) {
                    aA[i].onclick = function () {
                        var oParent = this.parentNode.parentNode.parentNode;
                        var alpha = 100;
                        var iHeight = oParent.offsetHeight;
                        timer = setInterval(function () {
                            css(oParent, "opacity", (alpha -= 10));
                            if (alpha < 0) {
                                clearInterval(timer);
                                timer = setInterval(function () {
                                    iHeight -= 10;
                                    iHeight < 0 && (iHeight = 0);
                                    css(oParent, "height", iHeight + "px");
                                    iHeight == 0 && (clearInterval(timer), oUl.removeChild(oParent))
                                }, 30)
                            }
                        }, 30);
                        this.onclick = null
                    }
                }
            }
            delLi();

            //输入框获取焦点时样式
            for (i = 0; i < aFtxt.length; i++) {
                EventUtil.addHandler(aFtxt[i], "focus", function () { this.className = "active" });
                EventUtil.addHandler(aFtxt[i], "blur", function () { this.className = "" })
            }

            //格式化时间, 如果为一位数时补0
            function format(str) {
                return str.toString().replace(/^(\d)$/, "0$1")
            }

            //头像
            for (i = 0; i < aImg.length; i++) {
                aImg[i].onmouseover = function () {
                    this.className += " hover"
                };
                aImg[i].onmouseout = function () {
                    this.className = this.className.replace(/\s?hover/, "")
                };
                aImg[i].onclick = function () {
                    for (i = 0; i < aImg.length; i++) aImg[i].className = "";
                    this.className = "current"
                }
            }
        });
    </script>
</head>

<body>
    <h2>@crow[1]</h2>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <img class="img-rounded" alt="140x140" src="img/a.jpg" />
                <div class="progress">
                    <div class="bar">
                    </div>
                </div>
                <p>
                    <em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
                </p> <button class="btn btn-primary btn-large btn-block" type="button">按钮</button>
            </div>
            <div class="span6">
                <dl>
                    <dt>
                        Rolex
                    </dt>
                    <dd>
                        劳力士创始人为汉斯.威尔斯多夫，1908年他在瑞士将劳力士注册为商标。
                    </dd>
                    <dt>
                        Vacheron Constantin
                    </dt>
                    <dd>
                        始创于1775年的江诗丹顿已有250年历史，
                    </dd>
                    <dd>
                        是世界上历史最悠久、延续时间最长的名表之一。
                    </dd>
                    <dt>
                        IWC
                    </dt>
                    <dd>
                        创立于1868年的万国表有“机械表专家”之称。
                    </dd>
                    <dt>
                        Cartier
                    </dt>
                    <dd>
                        卡地亚拥有150多年历史，是法国珠宝金银首饰的制造名家。
                    </dd>
                </dl>
                <dl>
                    <dt>
                        Rolex
                    </dt>
                    <dd>
                        劳力士创始人为汉斯.威尔斯多夫，1908年他在瑞士将劳力士注册为商标。
                    </dd>
                    <dt>
                        Vacheron Constantin
                    </dt>
                    <dd>
                        始创于1775年的江诗丹顿已有250年历史，
                    </dd>
                    <dd>
                        是世界上历史最悠久、延续时间最长的名表之一。
                    </dd>
                    <dt>
                        IWC
                    </dt>
                    <dd>
                        创立于1868年的万国表有“机械表专家”之称。
                    </dd>
                    <dt>
                        Cartier
                    </dt>
                    <dd>
                        卡地亚拥有150多年历史，是法国珠宝金银首饰的制造名家。
                    </dd>
                </dl>
            </div>
        </div>
    </div>


    <div id="remark_div" class="alert alert-success" role="alert" style="margin-top:3%;margin-bottom:1px">
        <h4><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;写下你的评论</h4>
    </div>


    <div id="msgBox">
        <form>
            <div>
                <label>姓名</label>
                <input id="userName" class="f-text" value="" />&nbsp;&nbsp;&nbsp;
                <p id="face"><img src="~/Images/img/face7.gif" class="current" /><img src="~/Images/img/face2.gif" /><img src="~/Images/img/face3.gif" /><img src="~/Images/img/face4.gif" /><img src="~/Images/img/face5.gif" /><img src="~/Images/img/face6.gif" /><img src="~/Images/img/face1.gif" /><img src="~/Images/img/face8.gif" /></p>
            </div>
            <div><label>留言内容</label>&nbsp;&nbsp;&nbsp;<textarea id="conBox" class="f-text"></textarea></div>
            <div class="tr">
                <p>
                    <span class="countTxt">还能输入</span><strong class="maxNum">140</strong><span>个字</span>

                    <input id="sendBtn" type="button" class="btn btn-primary" value="提交" title="快捷键 Ctrl+Enter" />
                </p>
            </div>
        </form>
        <div class="list">
            <h3><span>大家在说</span></h3>
            <ul>
                <li>

                    <div class="userPic"><img src="~/Images/img/face.gif" /></div>
                    <div class="content">
                        <div class="userName"><a href="javascript:;">王启帆</a>:</div>
                        <div class="msgInfo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.3
                        </div>
                        <div class="times">
                            <span>07月05日 15:14</span><a class="del" href="javascript:;" style="padding-left: 20px; display: none;">删除</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="userPic"><img src="~/Images/img/face.gif" /></div>
                    <div class="content">
                        <div class="userName"><a href="javascript:;">王启帆</a>:</div>
                        <div class="msgInfo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.3
                        </div>
                        <div class="times">
                            <span>07月05日 12:20</span><a class="del" href="javascript:;" style="padding-left: 20px; display: none;">删除</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="userPic"><img src="~/Images/img/face.gif" /></div>
                    <div class="content">
                        <div class="userName"><a href="javascript:;">发光体</a>:</div>
                        <div class="msgInfo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.3
                        </div>

                        <div class="times">
                            <span>07月05日 12:08</span><a class="del" href="javascript:;" style="padding-left: 20px; display: none;">删除</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="userPic"><img src="~/Images/img/face.gif" /></div>
                    <div class="content">
                        <div class="userName"><a href="javascript:;">里卡多</a>:</div>

                        <div class="msgInfo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.3
                        </div>
                        <div class="times">
                            <span>07月04日 16:55</span><a class="del" href="javascript:;" style="padding-left: 20px; display: none;">删除</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="userPic"><img src="~/Images/img/face.gif" /></div>
                    <div class="content">

                        <div class="userName"><a href="javascript:;">夫人发</a>:</div>
                        <div class="msgInfo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.3
                        </div>
                        <div class="times">
                            <span>07月04日 08:30</span><a class="del" href="javascript:;" style="padding-left: 20px; display: none;">删除</a>
                        </div>
                    </div>
                </li>
                <li>

                    <div class="userPic"><img src="~/Images/img/face.gif" /></div>
                    <div class="content">
                        <div class="userName"><a href="javascript:;">防热瓦</a>:</div>
                        <div class="msgInfo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.3
                        </div>
                        <div class="times">
                            <span>07月03日 20:19</span><a class="del" href="javascript:;" style="padding-left: 20px; display: none;">删除</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>

<script>
    window.onload = function hideRemark() {
        var identity = '@ViewData["V_uid"].ToString()[1]';
        if (identity == 'T') {
            document.getElementsByTagName('form')[0].setAttribute("hidden", "");
            document.getElementById('remark_div').innerHTML = "大家的评论";
        }
    }
</script>























@*<div class="mxgraph" style="max-width:100%;" data-mxgraph="{&quot;highlight&quot;:&quot;#0000ff&quot;,&quot;lightbox&quot;:false,&quot;nav&quot;:true,&quot;edit&quot;:&quot;_blank&quot;,&quot;xml&quot;:&quot;&lt;mxfile userAgent=\&quot;Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.221 Safari/537.36 SE 2.X MetaSr 1.0\&quot; version=\&quot;8.6.3\&quot; editor=\&quot;www.draw.io\&quot; type=\&quot;device\&quot;&gt;&lt;diagram name=\&quot;Page-1\&quot; id=\&quot;c9db0220-8083-56f3-ca83-edcdcd058819\&quot;&gt;7Z1bV+I6G8c/y3vB5bB65HCpiLNnLXVcontfukIbIHvaprap4v7075P0QEuCgtAWFWatgaZpmuT3PDn8m8aOOfKXPyMULq6pi72OobnLjnnRMQxd14bwxUNe05CeYacB84i4WaRVwIT8h7NALQtNiIvjSkRGqcdIWA10aBBgh1XCUBTRl2q0GfWqdw3RHEsBEwd5eWjXXoX/Q1y2SMMHRm8V/hcm80V+b72XFXmKnD/ziCZBdseOYc7EJz3tozytrKjxArn0pRRkjjvmKKKUpb/85Qh7vHbzisuvY695bjvm+YL5Hhzo8FOcvtxwsb7NxVC6CAesfLtN6Zluv4cGCM8s13aGuv4ju8Ez8pL8But3LN2uKLwGBy6KF9jNDuBMyOP7yzk3se4UKiRm8LMbCeDnM+J5I+rRSCRqGuLDL2QR/YPzMwENIJXzlwVheBIihyf5AqlAmGBU3G9GA5bZoW5kx6XkNfGBcOSReQBhDlQQjpQ1llcBjhheloKyGvyJqY9Z9ApRsrNWhjRzln52+LKyO123s8BFyejy61Bm7fMi5RUx+JFB2xKgIQEcUT9EwevHOJYxZTCUhN7nXQUyFJ81cNYG1DKjjXb7PrQqloaomBKVW0xDINGIcxXWr0S3RiZr7SAyQCDB/C6rGlNrgs5yjUyZljHsmv2miFkSsYF1cFoZrihzgIGMbjb7CLoPYjJ3xlRp+LSuDM1Q8NKzTjjCHmLkudqTqyBm97+lBLJe3PyHWW13fwyqKdDZLMZMMoKiFB+zC1uyi78J5eWgQXykTWybjmxY1sppy85sD7q6yjhqceaeBM06/LjmyJzZ3hXVN3TmvmQXEwaliBlxjtWZm3JcSzMUFtDciGkgo8GMQTP23cHYel8FRtO6vcba06E8nI0o1PAHx7Nfhs3QGnRVnV2jcHIRpkTnis4h4HfCvjkfXbOG6uFIs4QaUFnUM8FiUJGPUmyJJcRyxeeoNJZBrzo+KASVEkTTVIostRCUZRYT8mposrqXMyq5QFaJhqUApPF/Ww4R9/af3TufCgTZj0xDgcCoB4GsqdwvEn8aIMKv89CUi9qH9SoUOAte+RWKvZLJe3jGmuShV4EU6nIZidaU9KjLmskogjsY2r9JzCh8U5fAF6SsuSgk04SfQw78N4MZqkdiwgNIkEbBcxwzcTn84lOFpwT5Xfi+AGdw0ozAOY/wc+Ag8L9PeBXTiKEOfzSBnonLfyG2SgSKmcQ8lZvE85CfJ+MKr8oOAjJdwFfisYg4BMcCyYI4icdT473o6t7d2mxsc7OsMq81C+QmRBzknWXBjIYHFFv3ttPelnY6qMVOZQ3nPGGMW1C9koC9hqAnt//mxeB8dNGQRLADx9fS2Qq2wRuty56awJrR/OitGUM9moAui0XtWcdubcAXQK5prTCXhaB77IdQFMy7A+TX9aBG7eXydGvTwG+t1c+U3itxJAzq/SenstHs+wBUN+XW3VC17kYtrbusHD0EDgWamGHea+8lVezmzpvd942p2ZtM9fWJWK8tyIoJ2KC5oaasQE2S6b+cwMlRt2ZYrNdpxVHzREsM/4JLsglCx7AfJuO7x8uHq6vHm7PrcSefbp5c9qO4Fe1ycy5ryKLXryCGskDY5DVmmM/F/kYRQdPa1kVs68U5zyitkwq9TU9PD06vN3zfW3W13lIHPlnxkiDl9Q/TZhTMvY068ablKS7hnAjlVR/ThBdyrVoL9vo+euSbC+Z2lyZzMbDg1JfdTOFkdUCSNbFrHMd8teSpW9y+nRy22i3KKlrWLSr7xP91+JpWU0+rovh5xtIa4JdhKkQ0HoIcJ4mRnxQBpKLMaS7gIHFMfHGJmzhExOUd8lPCxbWphwKXMCKUujBCOIZqJwlvu5+pl4QMMXHgYg8HEI/fkz0lfBrl0CiCCCRPjsZCdMNFXp4Sofb51MMxI6nyt3RwyJKIpxOLmSK/lk4dhB0kUneSkECGspmaUAHDiD4TF+exoTTEI2ke4kTMNrnECFd6ISqXDeaWxCFI5B46pjQq5MaDciAUED/Leqr9xfysh6Y0EgUWJRAFEoezZI64yjjmwQuUBj7xZdG+mCVnsVLZs0hOJIKXIeYlEjigIgLeJArFUsiVHpmmWKHHDKH60jw5Ir0YEDAU0Gk5TXAxDMx4AaH2aRE/rZGALIReTnxx1wIOLzoJhKHw8mahvOQ+WhI+IdZgfuxglF0CRcGRCKXcfnKroX4g8pIZhxB84zjxIUdI5K8cKRdhIxyCxUMUodQ2q7rIa5D3GgPmIwa1HttG62YqhhHKUWBNw0BZfD0NA3caBip6pwaHgbI6ehoGqoeBw/aGgbKcqZ5Ol0YO6enx9dmvK/Wp27vfl7+uxo+j39e3V+P78c14MlHHvHm4fpw8jEYQ4fH+7uxivCFe03mZjK+uJjXKCOuGmHcxb3cpW/Yn6g5krZep+EUjrZO91jqZmmLZqKVonfR6ehdZ/C0mQNr9a9h2j/Kp5kG24k2mBudBssQ79tO1HR0DSqvdJvGiidHhF1YEbcVYwhw2pQjmcuRpLCFh0qucepo8ltAVmOw6KMm67T0YJ8w/UTTHp+ctb3K0j6lFNWUJt3gWqk2cCONG1jh8qfZ0HXC7Daos/54a1HTiZRxRgyoLvBMccGVNKLE/oTbDU6u6/SCmp1iJ0GCjKutZ95R3j9cogGmHL2Tow8J0Ftj5M6VLhXtJbevqPfvtGlaxbPqWxiRz8Vz6klEffiq5hrVvyi5qyVT1OhQUU5a5rlH0B/MX0CD4AkNJWR1s39MSzC8GedgmZFkmu8Axr6k6CX8P7+3rbYKVVaBLEqDAIcg7ee8BIZttQlYtAQxD7/VE+ICE7RYJW7I+NBFPyE9C7o7T0naHyNYWr7vmYCApEsZY4razS5XMoY7p6SEg9Y5owJvvh1JidINfPrjXwvvNp1Sfm9tPtR5hD86Hdl8mVvAXZLN8r5Nu7Nm9NXgfsfrhWB2It1CH9sWLXEKzt6U+4rTH87655JxtTlQsWTG6w/w11yP2T/v8cqx9Ov9UUFbt3FgPZVlJOnWTsie2OrO0ZF3ogjp8OeMR++L48mxkmZ/NF1Wc+435omoF1ckXJV9sUwCwVGt9XL5++0j9sHi3/3P5oYJxc2NWWeQ5+aHCD9uUaWxZprnHy9qUt73dsLL19OdxQwVi1X5X9SCWFZwJehZrKottEhqmLa8k2afRbXkd3kD1amdjW8bbsvYzQoFz+O2z3tuUbgfYlRXUbRA09C0QNvZytS1rO9AfYvYpXPTi3Das0bG5aK+/BWDVhKQewLIE1LR3fvYtI+2BDLDBLSNtWd75hFtGFnb4GbeMtGX15rNvGbk7j6PaMtKWdZbTlpFfccvI/e201S0jbVlr+p5bRu7A8ftsGWnLKtUX2jLy2JHXsWUkHK7+hF8aPSr+UqI5/j8=&lt;/diagram&gt;&lt;/mxfile&gt;&quot;}"></div>
    <script type="text/javascript" src="https://www.draw.io/js/viewer.min.js"></script>*@