@{
    ViewBag.Title = "关于我们-学生选课管理信息系统";
}
<h2>关于我们</h2>
<br />
<h3>上海理工大学光电信息与计算机工程学院</h3>
<p>University of Shanghai for Science and Technology Optical and Computer Engineering College</p>

<br /><br /><br />

<h2>联系我们</h2>
<br />
<h4>通讯地址：<a href="https://www.baidu.com">上海市杨浦区军工路516号</a></h4>
<h4>（联系电话：021-01011010）</h4>
<img src="~/Images/上海理工大学.PNG" style="width:1000px;height:600px;text-align:center" />
<br />

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>