@{
    ViewBag.Title = "关于我们-学生选课管理信息系统";
}
<h2>关于我们</h2>
<br />
<h3>上海理工大学光电信息教务处</h3>
<p>University of Shanghai for Science and Technology Teaching and Coaching Center</p>

<br />

<a href="https://www.usst.edu.cn"><img src="~/Images/usst_frontdoor.jpg" style="width:800px;height:400px" /></a>
<br />
<br />
<br />

<h2>联系我们</h2>
<br />
<h4>通讯地址：<a href="http://www.usst.edu.cn/">上海市杨浦区军工路516号</a></h4>
<h5>（联系电话：021-01011010）</h5>
<a href="https://www.baidu.com"><img src="~/Images/上海理工大学.PNG" style="width:1000px;height:600px;text-align:center"/></a>
<br />

<br />

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>