@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:lightyellow;">
    <h1><i class="fa fa-university"></i>学生选课管理信息系统</h1>
    <p class="lead">学生选课管理信息系统是为了方便学生选课和老师排课设置的教务管理系统。.</p>
    <p><a href="Users/Login" class="btn btn-primary btn-lg">点击登录 &raquo;</a></p>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>如果你是学生，</h2>
        <p>
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
        </p>
    </div>
    <div class="col-md-4">
        <h2>如果你是教师，</h2>
        <p>
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
        </p>
    </div>
    <div class="col-md-4">
        <h2>如果你是管理员，</h2>
        <p>
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
            并且已经注册过系统则直接点击上方登录按钮进入系统。为了方便使用您可以选择让浏览器记住您的密码。
        </p>
    </div>
</div>

