<br /><br /><br /><br /><br />

@using (Ajax.BeginForm("AjaxTest", "Home", new AjaxOptions { HttpMethod = "Post", OnComplete = "foo", OnSuccess = "succ", OnFailure = "fail" }, new { role = "form" }))
{
    <div>
        <label for="i1">第一</label>
        <input type="text" name="i1" id="i1" />
    </div>
    <div>
        <label for="i2">第二</label>
        <input type="text" name="i2" id="i2" />
    </div>
    <div>
        <label for="i3">第三</label>
        <input type="text" name="i3" id="i3" />
    </div>
    <input type="submit" value="提交" />
    <label for="name">下面是Name：</label>
    <input type="text" name="name" id="name" />
    <br />
    <br />
    <br />
    <input type="text" id="txt1" name="txt1" />
    <input class="form-control" type="button" id="btnSub" name="btnSub" value="调用Action" />
}

<script src="~/Scripts/jquery-1.10.2.js"></script>  @* without which these javascripts won't work! *@
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#btnSub").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/CheckUsernameTest",
                data: "",
                success: function (responseTest) {
                    $("#txt1").val(responseTest);
                }
            });
        });
    });
</script>

<script>
      $("#name").change(function () {
        $.ajax({
            url: "@Url.Action("CheckUsernameTest")",
            type: "post",
            data: { Name: $("#name").val() },
            dataType: "JSON",
            success: function (response, stutas, xhr) {
                alert(response);
            },
            error: function (xhr, stutas, response) {
                alert(response);
            },
            //complete: function (data) {
            //    alert(data.status+data);
            //},
        });
    });
    function foo() {
        alert("foo");
    }
    function succ() {
        alert("succ");
    }
    function fail() {
        alert("fail");
    }
</script>